<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666309658832-4d955beb9ia03844ss6ns1p2o1ddtmn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666309658832-4d955beb9ia03844ss6ns1p2o1ddtmn6</string>
	<key>API_KEY</key>
	<string>AIzaSyD0brbYwtkfNVoTo6xP303TMJT7hWS53OI</string>
	<key>GCM_SENDER_ID</key>
	<string>666309658832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pkmaster.petkiller</string>
	<key>PROJECT_ID</key>
	<string>pkmaster-88232</string>
	<key>STORAGE_BUCKET</key>
	<string>pkmaster-88232.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666309658832:ios:1ff060bf9ad93381b376d5</string>
	<key>DATABASE_URL</key>
	<string>https://pkmaster-88232-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>